:root {
  --light: #0075c9;
  --vibrant: #0000ff;
  --dark: #051d48;
  --white: #fffffe;
  --gray: #776f69;
  --border-transparent: rgba(5, 29, 72, 0.1);
  --border-opaque: rgba(5, 29, 72, 0.9);
  --background-transparent: rgba(255, 255, 254, 0.85);
  --background-opaque: rgba(255, 255, 254, 1);
  --dark-gradient: rgba(5, 29, 72, 0.5);
  --light-gradient: rgba(0, 117, 201, 0.5);
}

* {
  box-sizing: border-box;
  color: var(--dark);
}

.main {
  margin-top: 3em;
}

body {
  display: grid;
  place-content: center;
  font-family: "Roboto", sans-serif;
  min-height: 100%;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 300;
}

h5 {
  font-weight: 300;
}

h4 {
  font-weight: 300;
  margin-top: 0;
}

.text-buttons {
  font-weight: 300;
}

.text-buttons:hover {
  text-decoration: underline;
  cursor: pointer;
}

.title {
  text-align: center;
}

.login-form {
  margin-top: 2em;
}

input {
  padding: 0.75em;
  width: 100%;
  border-radius: 0.5em;
  border: 0.1em solid var(--border-transparent);
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
}

input[type="submit"] {
  background-color: var(--border);
}

button {
  padding: 0.75em;
  width: 100%;
  border-radius: 0.5em;
  border: 0.1em solid var(--border-transparent);
  font-family: "Roboto", sans-serif;
  background-color: var(--border-opaque);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  cursor: pointer;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: 0.1em solid var(--dark) !important;
}

input[type="submit"]:hover {
  background-color: var(--border-opaque);
  color: white;
  cursor: pointer;
}

.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  background-color: var(--background-transparent);
  width: 30em;
  padding: 2em 4em;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 1.5em;
}

.cover-card {
  background-color: var(--background-transparent);
  width: 25em;
  padding: 2em 0em;
  box-shadow: 0px 7px 29px 0px var(--border-transparent);
  border-radius: 1.5em;
  text-align: center;
}

.login-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(var(--dark-gradient), var(--light-gradient)),
    url("https://images.unsplash.com/photo-1689799515027-878d0b0cd1a5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  filter: blur(0.3em);
  z-index: -1;
  transform: scale(1.1);
}

.cover-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: space-around;
}

.phone-covered {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 2em;
  align-items: center;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.margin-adjustment {
  margin-bottom: -1.2em;
}

.dash-flex {
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  gap: 5em;
  flex-wrap: wrap;
  max-width: 90em;
  margin-bottom: 5em;
  justify-content: space-between;
}

.premium-reducer {
  display: flex;
  flex-direction: column;
}

.premium-reducers {
  width: 90em;
  margin-top: 4em;
}

.phone-cover-margin {
  margin-top: 2.5em;
  display: flex;
  gap: 5em;
  justify-content: space-around;
}

.premium-reducer-margin {
  margin-top: 3em;
  padding: 2em;
}

.phone-cover {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0em 5em;
  min-height: 30em;
  max-height: 30em;
}

.phone-cover ul {
  margin-top: 4em;
  list-style: "➡️";
}

.phone-cover li {
  margin-bottom: 2em;
}

.nav-link-container {
  display: flex;
  justify-content: space-between;
  color: black;
  list-style: none;
  align-items: center;
}

.nav-link-container a {
  text-decoration: none;
  color: black;
}
.nav-link-container a:hover {
  color: rgb(87, 98, 102);
}

.header-link-container {
  display: flex;
  gap: 30px;
}

.website-header-name {
  color: black;
}
