{% extends "base.html" %} {% block content%}

<div class="box-container">
  <div class="box-left">
    <h2>Pending Submissions</h2>
    {% for submission in submissions %} {% if submission.status == 'Pending' %}
    <div class="submission">
      <p>{{ submission.username }}</p>
      <p>{{submission.claim_amount}}</p>
      <a
        href="{{ url_for('admin_bp.admin_review', id=submission.claim_id) }}"
        class="view-button"
        >View Details</a
      >
    </div>
    {% endif %} {% endfor %}
  </div>

  <div class="box-right">
    <h2>Approved Submissions</h2>
    {% for submission in approved %}
    <div class="submission">
      <p>{{ submission.username }}</p>

      <p>✅</p>
    </div>
    {% endfor %}
  </div>

  <div class="box-centre">
    <h2>Rejected Submissions</h2>
    {% for submission in rejected %}
    <div class="submission">
      <p>{{ submission.username }}</p>
      <p>❌</p>
      <p>{{submission.admin_comment}}</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
