{% extends "base.html" %} {% block content%}

<div class="box-container">
  <div class="box-left">
    <h2>Pending Submissions</h2>
    {% for submission in submissions %} {% if submission.status == 'Pending' %}
    <div class="submission">
      <div class="admin-cards">
        <div style="text-align: center">
          <img src="{{submission.image_link}}" class="admin-claim-pic" />
          <p>{{ submission.username }}</p>
        </div>
        <div class="admin-info-card">
          <p>{{submission.claim_amount}}</p>
          <p>{{submission.submission_date}}</p>
          <a href="{{ url_for('admin_bp.admin_review', id=submission.claim_id) }}" class="submit-button">View
            Details</a>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

  <div class="box-right">
    <h2>Approved Submissions</h2>
    {% for submission in approved %}

    <div class="submission">
      <div class="admin-cards">
        <div style="text-align: center">
          <img src="{{submission.image_link}}" class="admin-claim-pic" />
          <p>{{submission.username}}</p>
        </div>
        <div class="admin-info-card">
          <p>Amount Approved: R</p>
          <p>Approved by: {{ submission.approved_by or 'Admin' }}</p>
          <p>✅</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="box-centre">
    <h2>Rejected Submissions</h2>
    {% for submission in rejected %}
    <div class="submission">
      <div class="admin-cards">
        <div style="text-align: center">
          <img src="{{submission.image_link}}" class="admin-claim-pic" />
          <p>{{ submission.username }}</p>
        </div>

        <div class="admin-info-card">
          <p>{{submission.admin_comment}}</p>
          <p>Rejected by:{{ submission.rejected_by or 'Admin'}}</p>
          <p>❌</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
