{% extends "navigation-bar.html" %} {% block content%}

<body>
  <div class="admin-container">
    <div class="card">
      <h2>Review Submission</h2>
      <div class="submission-detail">
        <p><strong>Submitted by:</strong> {{ submission.username }}</p>
        <p><strong>Details:</strong> {{ submission.reason }}</p>
      </div>

      <form method="POST">
        {% if submission.status == 'Pending' %}
        <button type="submit" name="approve">Approve</button>
        <button type="submit" name="reject">Reject</button>
        {% endif %}
      </form>

      {% if submission.status == 'Rejected' %}
      <form method="POST">
        <label for="admin_comment">Reason for Rejection:</label>
        <textarea id="admin_comment" name="admin_comment" required>
{{ submission.admin_comment }}</textarea>
        <button type="submit" name="admin_comment">
          Submit Rejection Reason
        </button>
      </form>
      {% endif %}

      <a class="text-buttons" href="{{ url_for('admin_bp.admin_home_page') }}">Back to Dashboard</a>
    </div>
  </div>
</body>
{% endblock %}
