<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />

    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body>
    <div class="main">
      <h1>Phone Insurance</h1>
      <div class="dash-flex">
        <div class="cover-card">
          <h1>Phones Covered</h1>

          <div class="cover-flex">
            <div class="phone-covered">
              <h1><i class="fa-solid fa-phone"></i></h1>
              <ul class="no-bullets">
                <li class="margin-adjustment"><h4>Samsung A2A</h4></li>
                <li><h5>Fresher Plan</h5></li>
              </ul>
            </div>

            <div class="phone-covered">
              <h1><i class="fa-solid fa-phone"></i></h1>
              <ul class="no-bullets">
                <li class="margin-adjustment"><h4>iPhone 12</h4></li>
                <li><h5>Business Plan</h5></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="cover-card">
          <h1>Premium Reducers</h1>

          <div style="margin-top: 3em">
            <div class="cover-flex">
              <div class="premium-reducer">
                <i
                  class="fa-solid fa-shield-halved"
                  style="font-size: 54px"
                ></i>
                <h2>Screen Protector</h2>
              </div>

              <div class="premium-reducer">
                <i class="fa-solid fa-dumbbell" style="font-size: 54px"></i>
                <h2>Phone Case</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
