{% extends "navigation-bar.html"%} {% block content%}
<body style="overflow: hidden">
  <div class="faq-body">
    <div class="title">
      <h1>Cellsure Frequently Asked Questions</h1>
    </div>

    <!-- faq tiles -->
    <input type="checkbox" id="faq-title1" class="faq-input" />
    <label for="faq-title1" class="faq-label">What is Cellsure?</label>
    <div class="faq-content">
      <p>
        Cellsure is a cellphone insurance plan that covers costs for damages and
        loss of cellphones.
      </p>
    </div>

    <!-- faq tiles -->
    <input type="checkbox" id="faq-title2" class="faq-input" />
    <label for="faq-title2" class="faq-label"
      >How long does it take to process a claim?</label
    >
    <div class="faq-content">
      <p>
        It takes around 3-5 business days to process a claim. with expedited
        processing for out Platinum plan holders
      </p>
    </div>

    <!-- faq tiles -->
    <input type="checkbox" id="faq-title3" class="faq-input" />
    <label for="faq-title3" class="faq-label"
      >Do you need a police report to make a theft claim?</label
    >
    <div class="faq-content">
      <p>
        Yes, A police report is required for a theft claim to be considered.
      </p>
    </div>

    <!-- faq tiles -->
    <input type="checkbox" id="faq-title4" class="faq-input" />
    <label for="faq-title4" class="faq-label"
      >What is not covered by Cellsure?</label
    >
    <div class="faq-content">
      <p>
        Cellsure does not cover manufacturing defects or damage cause by malware
        or viruses
      </p>
    </div>

    <!-- faq tiles -->
    <input type="checkbox" id="faq-title5" class="faq-input" />
    <label for="faq-title5" class="faq-label"
      >Is there a maximum amount of claims allowed?</label
    >
    <div class="faq-content">
      <p>
        While there is no limit to the number of claims that can be made,
        frequent claims(e.g. 2 Theft claims in 6 months) may lead to increase
        premiums or removal of cover.
      </p>
    </div>
  </div>
</body>
{% endblock%}
