<div class="footer">
  <footer class="main-footer">
    <h2 class = "sr-only"></h2>
    <section class="footer-content">


      <p> <i class="fa-solid fa-shield-halved"></i><i class="fa-regular fa-copyright"></i>2025 CellSure, Inc. </p>
      <div class="footer-section footer-policies">
        <a href="/policies">
          <p>Policies</p>
        </a>
      </div>

      <div class="footer-section footer-faq">
        <ul>
          <a href="/faq">
            <p>FAQs</p>
          </a>

      </div>

      <div class="footer-section footer-partners">
          <a href="/partners">
            <p>Partnerships</p>
          </a>
      </div>

      <div class="footer-section footer-claims">
        <p>Claim</p>
      </div>

      <div class="footer-section footer-contact">
          <p>Contact Form</p>

      </div>
    </section>
  </footer>
</div>
