{% extends "base.html" %} {% block content%}

<div class="main">
  <div class="card">
    <div class="title">
      <h3>Log In</h3>
    </div>

    <form
      action="{{url_for('auth_bp.submit_login_page')}}"
      method="POST"
      class="login-form"
    >
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Username"
      /><br /><br />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      /><br /><br />
      <input type="submit" value="Submit" />
    </form>

    <div class="flex-r">
      <h5>
        <a class="text-buttons" href="{{url_for('auth_bp.signup_page')}}"
          >Sign Up</a
        >
      </h5>
    </div>
  </div>
</div>

{% endblock %}
