{% extends "navigation-bar.html" %} {% block content%}
<body style="overflow: hidden">
  <div class="login-bg"></div>

  <div class="main">
    <div class="card">
      <div class="title">
        <h1>Phone Insurance</h1>
        <h2>Log In</h2>
      </div>

      <form class="login-form">
        <input
          type="text"
          id="username"
          name="username"
          value="Username"
        /><br /><br />
        <input
          type="password"
          id="password"
          name="password"
          value="Password"
        /><br /><br />
        <input type="submit" value="Submit" />
      </form>

      <div class="flex-r">
        <h5 class="text-buttons">Sign Up</h5>
        <h5 class="text-buttons">Forgot Password</h5>
      </div>
    </div>
  </div>
</body>

{% endblock %}
