<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    {% block style_content%}{% endblock%}
  </head>
  <body>
    <div class="home-screen-bg"></div>
    {% block background_img %}{% endblock %}
    <div class="website-header-container">
      <h1 class="website-header-name">Phone Insurance</h1>
      <header>
        <nav>
          <ul class="nav-link-container">
            <li><a href="/"> Home</a></li>
            <li><a href="/sign-up"> Sign Up</a></li>
            <li><a href="/log-in"> Log In</a></li>
          </ul>
        </nav>
      </header>
    </div>
    {% block content %}{% endblock%}

    <footer class="main-footer">
      <section class="footer-content">
        <div class="footer-section footer-policies">
          <h1>Policies</h1>
          <ul>
            <li>Fresher</li>
            <li>Personal</li>
            <li>Business</li>
            <li>Platinum</li>
          </ul>
        </div>

        <div class="footer-section footer-about">
          <h1>About</h1>
          <ul>
            <li>FAQs</li>
            <li>Partnerships</li>
            <li>Terms of Use</li>
          </ul>
        </div>

        <div class="footer-section footer-claims">
          <h1>Claims</h1>
          <ul>
            <li>Damage Claim</li>
            <li>Theft/Loss Claim</li>
            <li>Upgrade Claim</li>
          </ul>
        </div>

        <div class="footer-section footer-contact">
          <h1>Contact</h1>
          <ul>
            <li>helpdesk@phoneinsurance.com</li>
            <li>+27 123 456 789</li>
            <li>Contact Form</li>
          </ul>
        </div>
      </section>
    </footer>
  </body>
</html>
