{% extends "base.html" %} {% block content%}
<div class="login-bg"></div>

<div class="quote-card">
  <div class="title">
    <h1>New Policy</h1>
  </div>
  <hr />

  <form
    class="new-policy-form"
    action="{{url_for('policies_bp.new_policy_sign_up')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="new-policy-form-grid">
      <div class="new-policy-form-col">
        <legend>Details</legend>
        User Name:
        <input
          type="text"
          id="username"
          name="username"
          value="{{current_user.username}}"
          disabled
        /><br /><br />

        Phone Name:
        <input
          type="text"
          id="phone_name"
          name="phone_name"
          placeholder="iPhone 12"
          required
        /><br /><br />

        Please take of yourself with your phone visible (in front of a mirror is
        perfect!):
        <!-- <input
          type="url"
          id="image"
          name="image"
          placeholder="https://..."
        /><br /><br /> -->

        <input type="file" id="image-file" name="image-file" /><br /><br />
      </div>

      <div class="vl"></div>

      <div>
        <fieldset class="column-checkboxes">
          <legend>Which Policy would you like to select?</legend>

          {% for type in policy_types %}
          <div class="flex-r-nsp">
            <div class="checkbox-label-row">
              <input type="radio" name="radio" value="{{type.name}}"
              id="{{type.name}}1" title="test" {% if
              type.policy_type_id==policy_id %} checked {% else %}
              onclick="window.location.href = './{{type.policy_type_id}}';"
              {%endif %} />

              <label for="{{type.name}}1">{{type.name}}</label>
            </div>

            <div class="flex-r-sbtw">
              <input type="checkbox" id="{{type.name}}" class="accordion-inp" />
              <label for="{{type.name}}" class="accordion-label"
                ><i class="fa-solid fa-circle-info accordion-label-icon"></i
              ></label>

              <div class="accordion-content">
                <p>
                  This plan costs R{{type.start_price}}. It {{type.summary}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </fieldset>
      </div>

      <div class="vl"></div>

      <div class="new-policy-form-col">
        <fieldset class="column-checkboxes">
          <legend>Which extra features do you have?</legend>
          <div class="checkbox-label-row">
            <input
              type="checkbox"
              name="phone-case"
              value="phone-case"
              id="phone-case"
            />
            <label for="phone-case">Phone Case</label>
          </div>

          <div class="checkbox-label-row">
            <input
              type="checkbox"
              name="screen-protector"
              value="screen-protector"
              id="screen-protector"
            />
            <label for="screen-protector">Screen Protector</label>
          </div>

          <div class="checkbox-label-row">
            <input
              type="checkbox"
              name="waterproof-phone"
              value="waterproof-phone"
              id="waterproof-phone"
            />
            <label for="waterproof-phone">Waterproof Phone</label>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="new-policy-form-col">
      <button class="submit-button">Get Quote</button>
    </div>
  </form>
</div>

{% endblock %}
