{% extends "navigation-bar.html"%} {% block content%}
<body style="overflow-y: scroll; overflow-x: hidden">
  <!-- main container -->
  <div class="tile-container">
    <!-- vodacom container -->
    <div class="tile-info">
      <img
        class="tile-img"
        src="https://download.logo.wine/logo/Vodacom/Vodacom-Logo.wine.png"
        alt=""
      />
      <h1 class="tile-text">Vodacom</h1>
      <p class="tile-body-text">
        Vodacom and Cellsure have partnered though the VodaPay app. The super
        app is home to South Africa’s favourite brands, and that could including
        ours. Providing us access to massive markets.
      </p>
    </div>

    <!-- incredible connection container -->
    <div class="tile-info">
      <img
        class="tile-img"
        src="https://images.samsung.com/is/image/samsung/assets/za/about-us/brand/logo/mo/360_197_1.png?$720_N_PNG$"
        alt=""
      />
      <h1 class="tile-text">Samsung</h1>
      <p class="tile-body-text">
        Through The Samsung Partner Program, Cellsure has the access to
        resources needed to deliver quality customer care, ensure confidence
        building consistency, and accelerate growth.
      </p>
    </div>

    <!-- MTN partner div -->
    <div class="tile-info">
      <img
        class="tile-img"
        src="https://cdn.worldvectorlogo.com/logos/mtn-3.svg"
        alt=""
      />
      <h1 class="tile-text">MTN</h1>
      <p class="tile-body-text">
        Cellsure and MTN have partnered to provide customers capabilities to
        meet their business needs through the provision of professional services
        and or technology solutions.
      </p>
    </div>

    <!-- Cell C partner div -->
    <div class="tile-info">
      <img
        class="tile-img"
        src="https://worldofcellc.co.za/images/logo/orange-logo.png"
        alt=""
      />
      <h1 class="tile-text">Cell C</h1>
      <p class="tile-body-text">
        Through Cell C's MVNO(mobile virtual network operator), Cellsure uses
        the infrastructure provided by a mobile network operator. This includes
        billing and fulfilment.
      </p>
    </div>
  </div>
</body>
{% endblock %}
