{% extends "navigation-bar.html"%} {% block content%}

<body style="overflow-y: scroll; overflow-x: hidden">
  <!-- main container -->
  <div class="tile-container">
    <!-- fresher policy div -->
    <div class="tile-info">
      <h1 class="tile-text">Fresher</h1>

      <!-- price -->
      <h1 class="tile-text">
        <span class="price-highlight">R 50 p/m</span>
      </h1>

      <!-- fresher policy list -->
      <ul>
        <li class="policy-info-list">
          <i class="fa-solid fa-lock"></i>Theft Protection
        </li>
        <li class="policy-info-list-gray">
          <i id="fa-heart-crack-gray" class="fa-solid fa-heart-crack"></i>Screen Damage Protection
        </li>
        <li class="policy-info-list-gray">
          <i id="fa-droplet-gray" class="fa-solid fa-droplet"></i>Water Damage Protection
        </li>
        <li class="policy-info-list-gray">
          <i id="fa-square-caret-up-gray" class="fa-solid fa-square-caret-up"></i>Phone Upgrade Costs
        </li>
      </ul>


      <!-- button -->
      <div class="text-center">
        <button type="button" class="btn btn-outline-primary">
          <a href="policies/new-policy"> Get Policy</a>
        </button>
      </div>
    </div>

    <!-- personal policy div -->
    <div class="tile-info">
      <h1 class="tile-text">Personal</h1>

      <!-- price -->
      <h1 class="tile-text">
        <span class="price-highlight">R 75 p/m</span>
      </h1>

      <!-- personal policy list -->
      <ul>
        <li class="policy-info-list">
          <i class="fa-solid fa-lock"></i>Theft Protection
        </li>
        <li class="policy-info-list">
          <i class="fa-solid fa-heart-crack"></i>Screen Damage Protection
        </li>
        <li class="policy-info-list-gray">
          <i id="fa-droplet-gray" class="fa-solid fa-droplet"></i>Water Damage Protection
        </li>
        <li class="policy-info-list-gray">
          <i id="fa-square-caret-up-gray" class="fa-solid fa-square-caret-up"></i>Phone Upgrade Costs
        </li>
      </ul>

      <!-- button -->
      <div class="text-center">
        <button type="button" class="btn btn-outline-primary">
          <a href="policies/new-policy"> Get Policy</a>
        </button>
      </div>
    </div>

    <!-- business policy div -->
    <div class="tile-info">
      <h1 class="tile-text">Business</h1>

      <!-- price -->
      <h1 class="tile-text">
        <span class="price-highlight">R 100 p/m</span>
      </h1>

      <!-- business policy list -->
      <ul>
        <li class="policy-info-list">
          <i class="fa-solid fa-lock"></i>Theft Protection
        </li>
        <li class="policy-info-list">
          <i class="fa-solid fa-heart-crack"></i>Screen Damage Protection
        </li>
        <li class="policy-info-list">
          <i class="fa-solid fa-droplet"></i>Water Damage Protection
        </li>
        <li class="policy-info-list-gray">
          <i id="fa-square-caret-up-gray" class="fa-solid fa-square-caret-up"></i>Phone Upgrade Costs
        </li>
      </ul>

      <!-- button -->
      <div class="text-center">
        <button type="button" class="btn btn-outline-primary">
          <a href="policies/new-policy"> Get Policy</a>
        </button>
      </div>
    </div>

    <!-- platinum policy div -->
    <div class="tile-info">
      <h1 class="tile-text">Platinum</h1>

      <!-- price -->
      <h1 class="tile-text">
        <span class="price-highlight">R 200 p/m</span>
      </h1>

      <!-- platinum policy list -->
      <ul>
        <li class="policy-info-list">
          <i class="fa-solid fa-lock"></i>Theft Protection
        </li>
        <li class="policy-info-list">
          <i class="fa-solid fa-heart-crack"></i>Screen Damage Protection
        </li>
        <li class="policy-info-list">
          <i class="fa-solid fa-droplet"></i>Water Damage Protection
        </li>
        <li class="policy-info-list">
          <i class="fa-solid fa-square-caret-up"></i>Phone Upgrade Costs
        </li>
      </ul>

      <!-- button -->
      <div class="text-center">
        <button type="button" class="btn btn-outline-primary">
          <a href="policies/new-policy"> Get Policy</a>
        </button>
      </div>
    </div>
  </div>
</body>
{% endblock %}
<!-- n -->
