{% extends "base.html"%} {% block content%}
<!-- main container -->
<div class="dash-flex">
  <!-- fresher policy div -->
  <div class="cover-card">
    <div class="phone-cover">
      <h2>Fresher</h2>

      <!-- price -->
      <h2>
        <span class="price-highlight">R 50 p/m</span>
      </h2>

      <!-- fresher policy list -->
      <ul class="list-of-benefits">
        <li class="policy-info-list">
          <i class="fa-solid fa-lock"></i>Theft Protection
        </li>
        <li class="policy-info-list-gray">
          <i id="fa-heart-crack-gray" class="fa-solid fa-heart-crack"></i>Screen Damage Protection
        </li>
        <li class="policy-info-list-gray">
          <i id="fa-droplet-gray" class="fa-solid fa-droplet"></i>Water Damage Protection
        </li>
        <li class="policy-info-list-gray">
          <i id="fa-square-caret-up-gray" class="fa-solid fa-square-caret-up"></i>Phone Upgrade Costs
        </li>
      </ul>


      <!-- button -->
      <div class="text-center">
        <a href="policies/new-policy" class="btn btn-primary">Get Policy</a>
      </div>
    </div>
  </div>
  <div class="cover-card">
    <div class="phone-cover">
      <h2>Personal</h2>

      <!-- price -->
      <h2>
        <span class="price-highlight">R 75 p/m</span>
      </h2>
      <!-- personal policy list -->
      <ul class="list-of-benefits">
        <li class="policy-info-list">
          <i class="fa-solid fa-lock"></i>Theft Protection
        </li>
        <li class="policy-info-list">
          <i class="fa-solid fa-heart-crack"></i>Screen Damage Protection
        </li>
        <li class="policy-info-list-gray">
          <i id="fa-droplet-gray" class="fa-solid fa-droplet"></i>Water Damage Protection
        </li>
        <li class="policy-info-list-gray">
          <i id="fa-square-caret-up-gray" class="fa-solid fa-square-caret-up"></i>Phone Upgrade Costs
        </li>
      </ul>

      <!-- button -->
      <div class="text-center">
        <a href="policies/new-policy" class="btn btn-primary">Get Policy</a>
      </div>
    </div>
  </div>
  <div class="cover-card">
    <div class="phone-cover">
      <h2>Business</h2>

      <!-- price -->
      <h2>
        <span class="price-highlight">R 700 p/m</span>
      </h2>
      <!-- business policy list -->
      <ul class="list-of-benefits">
        <li class="policy-info-list">
          <i class="fa-solid fa-lock"></i>Theft Protection
        </li>
        <li class="policy-info-list">
          <i class="fa-solid fa-heart-crack"></i>Screen Damage Protection
        </li>
        <li class="policy-info-list">
          <i class="fa-solid fa-droplet"></i>Water Damage Protection
        </li>
        <li class="policy-info-list-gray">
          <i id="fa-square-caret-up-gray" class="fa-solid fa-square-caret-up"></i>Phone Upgrade Costs
        </li>
      </ul>

      <!-- button -->
      <!-- button -->
      <div class="text-center">
        <a href="policies/new-policy" class="btn btn-primary">Get Policy</a>
      </div>
    </div>
  </div>
  <div class="cover-card">
    <div class="phone-cover">
      <h2>Platinum</h2>

      <!-- price -->
      <h2>
        <span class="price-highlight">R 200 p/m</span>
      </h2>
      <!-- platinum policy list -->
      <ul class="list-of-benefits">
        <li class="policy-info-list">
          <i class="fa-solid fa-lock"></i>Theft Protection
        </li>
        <li class="policy-info-list">
          <i class="fa-solid fa-heart-crack"></i>Screen Damage Protection
        </li>
        <li class="policy-info-list">
          <i class="fa-solid fa-droplet"></i>Water Damage Protection
        </li>
        <li class="policy-info-list">
          <i class="fa-solid fa-square-caret-up"></i>Phone Upgrade Costs
        </li>
      </ul>

      <!-- button -->
      <div class="text-center">
        <a href="policies/new-policy" class="btn btn-primary">Get Policy</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
