{% extends "navigation-bar.html" %} {% block content%}
<body style="overflow-y: scroll; overflow-x: hidden">
  <div class="login-bg"></div>
  <div class="main">
    <div class="card">
      <div class="title">
        <h1>Phone Insurance</h1>
        <h2>Sign Up</h2>
      </div>

      <form class="login-form">
        <input type="text" id="name" name="name" value="Name" /><br /><br />
        <input
          type="text"
          id="surname"
          name="surname"
          value="Surname"
        /><br /><br />
        <input type="email" id="email" name="email" value="Email" /><br /><br />
        <input
          type="number"
          id="phone-number"
          name="phone-number"
          value="0210001111"
        /><br /><br />
        <input
          type="password"
          id="password"
          name="password"
          value="Password"
        /><br /><br />
        <input type="submit" value="Submit" />
      </form>

      <div class="flex-r">
        <h5>Already have an account?</h5>
        <h5 class="text-buttons">Log-in</h5>
      </div>
    </div>
  </div>
</body>
{% endblock %}
